/* CSS specific to about.html */

* {
  font-family: "Open Sans";
}

strong {
  color: #a5e544;
}

.about-container {
  background: url('../img/png/dna.png') no-repeat center center;
  padding: 100px;
  width: 100%;
  background-color: #a5e544;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-top-color: black
  border-bottom-color: black;
  text-align: center;
  box-sizing: border-box;
  font-size: 200%;
}

.content-21 {
  text-align: center;
  padding: 20px;
  float: left;
  width: 100%;
  font-size: 150%;
  box-sizing: border-box;
}

.content-1-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 100px 1fr 1fr 100px;
  grid-template-rows: 130px 1fr 130px 1fr;
  grid-template-areas: "mgl ped-txt pun-txt mgr";
  font-size:150%;
}

/* remove margins on moderately small screens */
@media (max-width: 900px) {
  .content-1-container {
    grid-template-columns: 0px 1fr 1fr 0px;
  }
}

/* redo table layout for very small (mobile) screens)
   also condense title layout even further */
@media (max-width: 768px) {
  .title-text {
    left: 30px;
    top: 100px;
  }
  .content-1-container {
    grid-template-columns: 0px 1fr 0px;
    grid-template-rows: 130px 1fr
                        130px 1fr
                        130px 1fr
                        130px 1fr;
    grid-template-areas: "mgl ped-img mgr"
                         "mgl ped-txt mgr"
                         "mgl pun-img mgr"
                         "mgl pun-txt mgr"
                         "mgl vir-img mgr"
                         "mgl vir-txt mgr"
                         "mgl dna-img mgr"
                         "mgl dna-txt mgr";
  }
}