/* CSS specific to faq.html */

* {font-family: "Open Sans";}

.faq-container {
  width: 100%;
  text-align: center;
}
.faq-container h1, h2 {
  font-weight: 100;
}
.faq-wrapper {
  text-align: center;
  display: inline-block;
}
.question {
  text-align: left;
  width: 600px;
  background-color: var(--color1);
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  margin-top: 5px;
  display: inline-block;
  transition: all .1s ease-in;
}
.question:hover {
  background-color: #f1ffdd;
}
.answer {
  text-align: left;
  width: 580px;
  background-color: #f1ffdd;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
}

@media (max-width: 700px) {
  .question {
    width: 300px;
  }
  .answer {
    width: 280px;
  }
}
