/* CSS specific to punnett.html */

* {font-family: "Open Sans";}

.punnett-page {
  width: 100%;
  text-align: center;
}

.usage {
  font-family: "Open Sans";
  padding: 20px;
  background-color: #ffec82;
  width: calc(100% - 170px);
  margin-left: 65px;
  border-radius: 10px;
}
.usage strong {color: #b79b00;}

#colorization {
  background-color: var(--color1);
  font-family: "Open Sans";
  font-size: 10pt;
  border: 1px solid  var(--color1);
  outline: 0;
  height: 30px;
  margin-right: 10px;
  transition: all .2s ease-in;
}
#colorization:hover {background-color: white;}
#colorization:focus {background-color: white;}

.caption1 {
  left: 5%;
  top: 20%;
}

/* the table stuff */
table {
  margin: 0px auto;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 5px;
}

th {
  background-color: #bbbbbb;
  border: 1px solid black;
  padding: 5px;
  min-width: 20px;
}

/* warning text */
#warn-container {
  margin-top: 10px;
  text-align: center;
}
.alert {
  display: none;
  width: 600px;
}

.content-21 {
  text-align: center;
  padding: 20px;
  float: left;
  width: 100%;
  font-size: 100%;
  box-sizing: border-box;
}

#blanket {
  background-color:#efefef;
  opacity: 0.95;
  position: fixed;
  z-index: 9001;
  width:100%;
  top:0;
}

#popUpDiv {
  position: absolute;
  margin-left: 30%;
  width: 40%;
  margin-top: -5%;
  border-style: hidden;
  z-index: 9002;
}

/* data entry divs */
.data-entry {
  float: left;
  width: 50%;
  text-align: center;
  margin-bottom: 15px;
}
.data-title {
  display: inline-block;
  color: #c4c4c4;
  font-weight: 100;
  width: 50px;
}
.geno-entry {
  font-size: 600%;
  font-weight: 100;
  line-height: 15%;
}
.button-entry {
  display: inline-block;
  background-color: white;
  border: 1px solid white;
  transition: .1s ease-in all;
  width: 30px;
}
.button-entry:hover {
  border: 1px solid var(--color1);
  color: var(--color1);
}
