/* CSS specific to punnett.html */

.punnett-page {
  width: 100%;
}

.punnett-page h1 {
  font-family: "Rubik";
  color: #78bc12;
  font-size: 500%;
  margin: 0px;
}

.punnett-page h2 {
  font-family: 'Courgette', cursive;
  color: #78bc12;
  font-size:150%;
  margin: 5px;
}

.subtitle-text {
  left: 5%;
  top: 10%;
}

.caption1 {
  left: 5%;
  top: 20%;
}
