# ignore compiled Python files
*.pyc

# ignore graphviz intermediate and final files
*.dot
*.pdf

# ignore images except those in img/png (those are actually important)
pedigree/*.png
punnett/*.png

# ignore mac-specific Finder layout
*.DS_Store

# ignore the config file for non-server matplotlib use
punnett/ct_config

# ignore local files (mostly unused font files) on Eric's laptop
eric_local/*
