# ignore compiled Python files
*.pyc

# ignore graphviz intermediate and final files
*.dot
*.pdf

# ignore images
*.png

# ignore the copied modules in the cgi-bin directory
cgi-bin/*.py

# ignore the system-specific dot bin path
cgi-bin/dot_path

# ignore mac-specific Finder layout
*.DS_Store
